.radiobuttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .radioLabel {
    max-width: 124px;
    width: 124px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: var(--body-medium-font);
    user-select: none;
    flex-direction: row-reverse;
    border: 1px solid var(--primary-font-color-6);
    border-radius: 2px;
    padding: 10px 16px;
    justify-content: space-between;
    color: var(--primary-font-color-1);
    font-weight: 400;
    transition: all 0.4s ease;
  }

  .radioLabel:hover{
    border-color: var(--primary-font-color-1);
    box-shadow: 0 0 5px rgba(2, 35, 69, 0.5);
  }
  
  .radioInput {
    display: none; /* Hide default radio */
  }

  .error{
    border-color: var(--danger-color);
    box-shadow: 0px 0px 12px 1px rgba(255, 58, 48, 0.272);
  }
  
  .radioCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary-font-color-5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
  }
  
  /* When radio is checked, make outer circle dark and inner circle white */
  .radioInput:checked + .radioCircle {
    background-color: var(--primary-font-color-2); /* Dark outer */
    border-color: var(--primary-font-color-2);
  }
  
  /* Inner white dot when selected */
  .radioInput:checked + .radioCircle::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #ffffff; /* White inner */
    border-radius: 50%;
    position: absolute;
  }

  .radioLabel:has(.radioInput:checked) {
    border-color: var(--primary-font-color-1);
  }
  

  
  /* Hover effect */
  .radioLabel:hover .radioCircle {
    border-color: var(--primary-font-color-2);
  }
  