.sideNavbar{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 257px;
    padding: 0px 5px 0px 5px;
    position: fixed;
    margin-bottom: 30px;
    height: 100%;
}

.navigationLinks{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    overflow-y: scroll !important;
    height: calc(100vh - 165px);
}

.navigationLinks::-webkit-scrollbar{
    display: none;
}

.header{
    padding : 6px 16px;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    cursor: pointer;
}

.accountNavigationLinks, .basicInformationLinks{
    display: flex;
    flex-direction:column;
    row-gap: 8px;
}

.account, .basicInformation{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.account h2, .basicInformation h2{
    font-size: var(--body-extra-small-font);
    color: var(--primary-font-color-4);
    font-weight: 500;
}